.it-program-details {
  display: table;
  width: 100%;

  @media all and (max-width: @screen-xs-max) {
    display: block;
  }

  .it-options {
    display: table-cell;
    vertical-align: top;

    @media all and (max-width: @screen-xs-max) {
      display: block;
    }
  }

  .it-extra-parameters {
    width: 30%;
    vertical-align: top;
    display: table-cell;

    @media all and (max-width: @screen-xs-max) {
      width: 100%;
      margin-top:30px;
      display: block;
    }
  }
}